html, body, #root {
  height: 100%;
}

.je-switcher {
  padding: 0 2.5em 0 .5em !important;
  margin-bottom: .5em !important;
}

/*.btn-group>.btn-group:not(:first-child), .btn-group>.btn:not(:first-child) {
  margin-left: -1px;
}*/

/*.je-ready h3 {
  margin-bottom: 0;
}*/
