@import "bootstrap/scss/bootstrap";
@import "open-iconic/font/css/open-iconic-bootstrap.css";

html, body, #root {
  height: 100%;
}

.h-0 {
  height: 0;
}

.w-0 {
  width: 0;
}

.separator-bottom {
  border-bottom: 1px solid var(--bs-gray-300);
}

.separator-right {
  border-right: 1px solid var(--bs-gray-300);
}

.git-panel {
  width: 18em;
}

.git-repo-title {
  background-color: var(--bs-gray-100);
  word-wrap: break-word;
}

.git-repo-title > a {
  /*color: var(--bs-gray-700);*/
  text-decoration: none;
  display: block;
  padding: .3em;
}

.git-repo-title > a:hover {
  background-color: var(--bs-gray-200);
}

.revert-button {
  float: right;
  right: 5px;
  top: 5px;
  margin-bottom: 5px;
  margin-left: 0.8em;
}

tbody > tr:not(:hover) .revert-button {
  visibility: hidden;
}

.revert-button:hover {
  color: var(--bs-blue);
}

tbody > tr:not(:hover) .list-button {
  visibility: hidden;
}

.list-button {
  cursor: pointer;
}

.list-button:hover {
  color: var(--bs-blue);
}

.list-json-editor-panel {
  flex-grow: 2 !important;
}

.je-switcher {
  padding: 0 2.5em 0 .5em !important;
  margin-bottom: .5em !important;
}

.simple-code-editor textarea {
  outline: 0;
}

.json-editor.compact .card {
  --bs-card-spacer-y: .5rem;
  --bs-card-spacer-x: .5rem;
}

.json-editor.compact div[data-theme="bootstrap5"] .form-group {
  margin-bottom: .5rem;
}

.json-editor.compact .form-label {
  margin-bottom: .2rem;
}

.json-editor.compact .my-3 {
  margin-top: .5rem !important;
  margin-bottom: .5rem !important;
}

.json-editor .card-body > .btn-group:last-child {
  margin-top: 0.5em;
}

/*.btn-group>.btn-group:not(:first-child), .btn-group>.btn:not(:first-child) {
  margin-left: -1px;
}*/

/*.je-ready h3 {
  margin-bottom: 0;
}*/
